/* You can add global styles to this file, and also import other style files */
/* Google Fonts: Inter, noto serif, source code pro*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;
  --font-inter: "Inter", sans-serif;
  --font-noto-serif: "Noto Serif", serif;
  --font-source-code-pro: "Source Code Pro", monospace;
}
