@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

:host {
  /*display: block;*/
  /*width: 100dvw;*/
  /*height: 100dvh;*/
  overflow: initial;
  box-sizing: border-box;
}

.scroll-animation {
  animation: scroll 40s linear infinite;
}
