@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

:host {
  /*display: block;*/
  /*width: 100dvw;*/
  /*height: 100dvh;*/
  overflow: initial;
  box-sizing: border-box;
}

.scroll-animation {
  animation: scroll 40s linear infinite;
}

.scroll-container {
  scrollbar-width: none; /* Firefox */
}

/* WebKit (Chrome, Safari, Edge) */
.scroll-container::-webkit-scrollbar {
  display: none; /* WebKit */
}


/* If you want back-cards to be blurred on hover */
/*.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  z-index: 10;
  position: relative;
}*/


