<div class="min-h-full bg-white px-6 pt-6 text-black dark:bg-black dark:text-white"
     [class.font-inter]="fontForm.value.font === 'sans serif'"
     [class.font-lora]="fontForm.value.font === 'serif'"
     [class.font-inconsolata]="fontForm.value.font === 'mono'">
  <header class="mb-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center align-middle">
        <img ngSrc="assets/images/logo.svg" alt="logo" height="38" width="34" priority>
      </div>
      <div class="flex">

        <!-- Font Dropdown -->
        <div #dropdown class="relative h-8 w-28 select-none px-3 text-sm font-bold text-d-slate-500 text-nowrap hover:cursor-pointer dark:text-white"
             (click)="toggleDropdown()">
          <form class="flex h-full flex-col items-end justify-center align-middle" [formGroup]="fontForm">
            <label class="select-none pr-5 hover:cursor-pointer">{{ fontForm.value.font | titlecase }}</label>

            <div class="absolute top-10 right-1">
              <div class="absolute -inset-1 z-10 rounded-xl bg-black opacity-10 blur dark:bg-d-purple dark:opacity-75">
              </div>
              <div class="relative z-10 flex flex-col gap-4 rounded-xl bg-white py-4 pr-12 pl-6 dark:bg-d-slate-400"
                   [class.hidden]="!isDropdownVisible()">
                <input type="radio"
                       class="hidden"
                       formControlName="font"
                       id="sans-serif"
                       value="sans serif">
                <label class="font-inter hover:text-d-purple hover:cursor-pointer"
                       (click)="toggleDropdown()"
                       for="sans-serif">Sans Serif</label>

                <input type="radio"
                       class="hidden"
                       formControlName="font"
                       id="serif"
                       value="serif">
                <label class="font-lora hover:text-d-purple hover:cursor-pointer"
                       (click)="toggleDropdown()"
                       for="serif">Serif</label>

                <input type="radio"
                       class="hidden"
                       formControlName="font"
                       id="mono"
                       value="mono">
                <label class="font-inconsolata hover:text-d-purple hover:cursor-pointer"
                       (click)="toggleDropdown()"
                       for="mono">Mono</label>
              </div>
            </div>
          </form>
          <div class="absolute top-1/2 right-2 -translate-y-1/2 transform">
            <img ngSrc="assets/images/icon-arrow-down.svg" alt="arrow down" height="8" width="14">
          </div>
        </div>

        <div class="mr-6 ml-3 border-1 text-d-slate-200"></div>

        <!-- Dark Mode Toggle -->
        <div #darkModeToggle class="flex items-center gap-4 hover:cursor-pointer"
             (click)="this.themeService.toggleTheme()">
          <div class="relative h-4 w-8 rounded-full dark:bg-d-purple bg-d-slate-300">
            <input #toggleInput id="toggleInput" class="hidden"
                   type="checkbox"
                   [checked]="this.themeService.isDark()"
                   (change)="this.themeService.setTheme(toggleInput.checked ? Theme.dark : Theme.light)">
            <div class="absolute top-1/2 -translate-y-1/2 transform rounded-full bg-white w-3 h-3 transition-all ease-in-out dark:left-4 left-1"></div>
          </div>
          <svg class="dark:stroke-d-purple stroke-d-slate-300"
               xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
            <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M1 10.449a10.544 10.544 0 0 0 19.993 4.686C11.544 15.135 6.858 10.448 6.858 1A10.545 10.545 0 0 0 1 10.449Z"/>
          </svg>
        </div>
      </div>
    </div>
  </header>

  <!-- Searchbar Form -->
  <div class="flex flex-col">
    <div class="relative hover:cursor-pointer">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <input id="searchbar"
               type="text"
               class="w-full rounded-xl py-2 pr-10 pl-5 text-lg font-bold text-black outline-none border-1 bg-d-slate-100 placeholder-d-slate-200 focus:border-d-purple dark:bg-d-slate-400 dark:placeholder-d-slate-300 dark:text-white"
               [ngClass]="{
                 'border border-d-red': isSearchbarInvalid(),
                 'focus:border-d-red': isSearchbarInvalid(),
                 'border border-d-slate-100 dark:border-d-slate-400': !isSearchbarInvalid()
               }"
               formControlName="searchbar"
               placeholder="Search for any word..."
               (keyup.esc)="resetSearchbar()">
      </form>
      <img ngSrc="assets/images/icon-search.svg" alt="search icon" height="16" width="16" class="absolute top-1/2 right-5 -translate-y-1/2 transform">
    </div>
    <span class="m-1 text-sm transition-opacity duration-200 text-d-red"
          [class.opacity-0]="!isSearchbarInvalid()"
          [class.opacity-100]="isSearchbarInvalid()">Whoops, can't be empty...</span>
  </div>

  @let res = this.dictionaryResult();
  @if (isDictionaryError(res)) {
    @let err = res;
    <div class="flex flex-col items-center justify-center gap-5 align-middle">
      <span class="mb-5 text-7xl">😕</span>
      <h1 class="font-bold">{{ err.title }}</h1>
      <p class="text-center font-normal text-d-slate-300">{{ err.message }} {{ err.resolution }}</p>
    </div>
  } @else if (res) {
    <!-- todo: iterate all in pagination -->
    @let entry = res[0];

    <!-- Word | Phonetics | Audio -->
    <div class="mb-4 flex justify-between">
      <div class="flex flex-col gap-3">
        <span class="text-3xl font-bold">{{ entry.word }}</span>
        <span class="text-xl text-d-purple">{{ FreeDictionaryHelpers.getPhoneticText(entry) }}</span>
      </div>
      @if (FreeDictionaryHelpers.hasPhoneticAudio(entry)) {
        <div class=""
             (click)="playAudio(FreeDictionaryHelpers.getPhoneticAudio(entry))">
          <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 75 75" class="group hover:cursor-pointer">
            <g class="fill-d-purple" fill-rule="evenodd">
              <circle cx="37.5" cy="37.5" r="37.5" class="opacity-25 group-hover:opacity-100"/>
              <path d="M29 27v21l21-10.5z" class="group-hover:fill-white"/>
            </g>
          </svg>
        </div>
      }
    </div>

    <!-- Meanings -->
    <div class="flex flex-col">
      @for (meaning of entry.meanings; track $index) {
        <div class="my-6 flex w-full items-center justify-between gap-4">
          <div class="text-lg font-bold italic">{{ meaning.partOfSpeech }}</div>
          <div class="h-0 w-full border border-d-slate-200"></div>
        </div>
        <span class="mb-2 text-d-slate-300">Meaning</span>
        <ul class="list-disc px-4">
          @for (definition of meaning.definitions; track $index) {
            <li class="text-base text-d-purple"><span class="text-black dark:text-white">{{ definition.definition }}</span></li>
            @if (definition.example) {
              <span class="text-d-slate-300">&ldquo;{{ definition.example }}&rdquo;</span>
            }
          }
        </ul>

        <!-- Synonyms -->
        @if (meaning.synonyms.length > 0) {
          <div class="my-4 flex">
            <span class="mr-2 mb-2 text-d-slate-300">
              Synonyms
            </span>
            @let synonyms = meaning.synonyms;
            <!-- todo: on click search the synonym -->
            <div class="text-wrap">
              @for (synonym of synonyms; track $index) {
                <span class="font-bold text-d-purple hover:cursor-pointer hover:underline" (click)="search(synonym)">{{ synonym }}</span>
                @if ($index < synonyms.length - 1) {
                  <span class="text-d-purple">,</span>&nbsp;
                }
              }
            </div>
          </div>
        }
      }
    </div>

    <div class="my-4 h-0 w-full border border-d-slate-200"></div>

    <div class="flex w-fit flex-col pb-12">
      <div class="mr-2 mb-1 underline text-d-slate-300 underline-offset-3">Source</div>
      @for (source of entry.sourceUrls; track $index) {
        <div class="flex items-center justify-between gap-4">
          <a href="{{source}}" class="underline" target="_blank">{{ source }}</a>
          <a href="{{source}}" target="_blank">
            <img ngSrc="assets/images/icon-new-window.svg" height="14" width="14">
          </a>
        </div>
      }
    </div>
  } @else {
    <p class="text-center text-d-slate-400">Type a word to search the dictionary...</p>
  }
</div>
