/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

@source inline("{hover:,sm:,md:,lg:,xl:,}bg-{red,blue,green,yellow,pink,purple,orange,teal,indigo,lime}-{50,100,200,300,400,500,600,700,800,900,950}");
@source inline("{hover:,sm:,md:,lg:,xl:,}text-{red,blue,green,yellow,pink,purple,orange,teal,indigo,lime}-{50,100,200,300,400,500,600,700,800,900,950}");
@source inline("{hover:,sm:,md:,lg:,xl:,}ring-{red,blue,green,yellow,pink,purple,orange,teal,indigo,lime}-{50,100,200,300,400,500,600,700,800,900,950}");
@source inline("{hover:,sm:,md:,lg:,xl:,}shadow-{red,blue,green,yellow,pink,purple,orange,teal,indigo,lime}-{50,100,200,300,400,500,600,700,800,900,950}");
